<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>ShowComponentsCompatibility</string>
	<key>CFBundleExecutable</key>
	<string>plugin</string>
	<key>CFBundleIdentifier</key>
	<string>com.guidoferreyra.ShowComponentsCompatibility</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>ShowComponentsCompatibility</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleVersion</key>
	<string>2</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.1</string>
	<key>UpdateFeedURL</key>
	<string>https://raw.githubusercontent.com/guidoferreyra/ShowComponentsCompatibility/master/ShowComponentsCompatibility.glyphsReporter/Contents/Info.plist</string>
	<key>productPageURL</key>
	<string>https://github.com/guidoferreyra/ShowComponentsCompatibility</string>
	<key>productReleaseNotes</key>
	<string>Update plugin structure</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright, Guido Ferreyra, 2015</string>
	<key>NSPrincipalClass</key>
	<string>ShowComponentsCompatibility</string>
	<key>PyMainFileNames</key>
	<array>
		<string>../MacOS/main.py</string>
	</array>
</dict>
</plist>
